.home {
  display: flex;
  height: 100vh;

  // Sidebar
  .sidebar {
    flex: 1;
    background-color: #cecece;
    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 50px;
      &-image {
        margin-right: 10px;
        border: 2px solid #000;
        border-radius: 50%;
        padding: 20px;
      }
      p {
        font-weight: 600;
        font-size: 32px;
      }
    }
    &-categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-category {
        width: 150px;
        display: flex;
        justify-content: space-between;
        button {
          margin-left: 10px;
          border-radius: 10px;
          border: 0;
          color: #000;
          background: transparent;
          font-size: 16px;
        }
      }
    }
  }

  // Main Content
  .main {
    overflow: scroll;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    .card {
      position: relative;
      overflow: auto;
      border: 2px solid #000;
      border-radius: 10px;
      margin: 10px 20px;
      padding: 20px 5px;
      flex-basis: 25%;
      height: 350px;
      &:hover .card-saved-options {
        opacity: 1;
      }
      &:hover .card-hide {
        opacity: 0.4;
      }
      &-saved-options {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        display: flex;
      }
      &-form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        &-new {
          display: flex;
          flex-direction: column;
        }
        input,
        select {
          margin-bottom: 20px;
          padding: 5px;
        }
        button {
          color: #fff;
          border: 0;
          background: $main-color;
          padding: 5px;
          border-radius: 10px;
        }
      }
      &-todos {
        text-align: center;
        &-todo {
          font-size: 16px;
          padding: 10px 20px;
          display: flex;
          justify-content: space-between;
          &-completed {
            text-decoration: line-through;
            opacity: 0.6;
          }
          &-buttons {
            button {
              margin-left: 10px;
              border-radius: 10px;
              border: 0;
              color: #000;
              background: transparent;
              font-size: 16px;
            }
          }
        }
      }
      &-add {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        &-title {
          font-size: 32px;
          font-weight: 600;
        }
      }
      &-save {
        text-align: center;
        margin-top: 50px;
      }
      &-delete {
        position: absolute;
        color: #000;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 16px;
        border-radius: 50%;
        &:hover {
          color: #fff;
          background: $danger-color;
        }
      }
    }
  }
}
